{
  "extends": [
    "airbnb-base",
    "plugin:prettier/recommended"
  ],
  "env": {
    "browser": true
//    "node": true
  },
  "rules": {
    "no-console": "off",
    "no-undef": "warn",
    "no-use-before-define": "warn",
    "no-param-reassign": "warn"
  }
}
